@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    font-size: 3rem;
    color: #2a0e13;

}