.new-places-link{
    background-color: #7FC7D9;
    padding: 0.5rem;
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    transition: all 100ms ease-in-out;

}

.new-places-link:hover{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes example {
    0%   {box-shadow: 0px 0px 10px 3px #7FC7D9; background-color: #7FC7D9;}
    50%  {box-shadow: 0px 0px 10px 5px #365486;background-color: #365486;}
    100%  {box-shadow: 0px 0px 10px 3px #7FC7D9;background-color: #7FC7D9;}

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-places-form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #7FC7D9;
    border-radius: 20px;
    border-width: 2px;
    padding: 1rem;
}

.new-places-form input{
    color: #365486;

    width: 100%;
}

.new-places-form textarea{
    color: #365486;

    width: 100%;
    border-radius: 20px;
    padding: 1rem;
}

.input-div{
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ce;
}
.input-div h3, h1{
    margin-left: 0.5rem;
}

.img-input{
    border-color: #256892;
    border-width: 2px;
    align-items: center;
    border-radius: 20px;
    font-size: 5rem;
    font-weight: 100px;
    margin: 1rem;
    margin-left: 2.5rem;
    width: 48%;
    height: 7rem;
}

.img-input button{
    color: #256892;
    width: 50px;
}

.input-div-check{
    display: flex;
    width: 100%;

    flex-direction: row;
}

.input-time-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 3rem 3rem 3rem;
}

.input-div h3{
    color: rgba(0, 0, 0, 0.632);
}

.text-div{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.checkbox-perk {
    cursor: pointer;

    width: 40%;
    max-width: 40%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-width: 3px;
    border-radius: 12px;
    margin: 0.25rem;
}

.checkbox-perk input {
   min-width: 1.5rem;
    
    max-width: 1.5rem;
    margin-right: 1rem; 
}

.checkbox-perk span {
    font-size: 1.1rem;
    margin-right: 10px; 
}

.checkbox-perk svg {
    width: 30px;
    height: 30px;
}



